.interests-bg{
  background-image: url(../../../images/plans-interests-bg.png);
  background-size: cover;
  background-attachment:fixed ;
  min-height: 100vh;
  }

.grid-interests{
  background-color: #ffffffb0;
  color:  #69475c;
}

::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #8fa8ac;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: #8fa8ac;
  }
