.interests-bg {
  background-image: url(../../../images/plans-interests-bg.png);
  background-size: cover;
  background-attachment:fixed ;
  min-height: 100vh;
}

.grid-interests {
  background-color: #ffffffb0;
  color: #5a3c4f;
}

.quote{
  font-style: italic;
  font-family: 'Gabriola';
  font-size:2.8rem;
}

.quote:before{
  content: '\"';
}

.quote:after{
  content: '\"';
}

.quote-image{
  float: right;
  width: 12rem;
  height: 12rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 50%;
}

