.plans-bg {
  background-image: url(../../../images/plans-interests-bg.png);
  background-size: cover;
  background-attachment:fixed ;
  min-height: 100vh;
}

.grid-plans {
  background-color: #ffffffb0;
  color:  #5a3e4f;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  border-radius: 20px;
}

table,
td,
th {
  border: 1px solid;
}

th {
  background-color: #d3d4d4;
  font-size: 1.6rem;
}

td {
  font-size: 1.4rem;
}

tr:nth-child(odd) {
  background-color: #e8e9e9;
}

.dropdown-options{
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-waiting{
  background-color: rgba(255, 255, 0, 0.637);
}

.dropdown-working{
  background-color: rgba(3, 129, 187, 0.582);
}

.dropdown-done{
  background-color: rgba(28, 148, 54, 0.616);
}

.dropdown-break{
  background-color: rgba(122, 122, 122, 0.582);
}

.dropdown-a{
  background-color: rgba(25, 164, 182, 0.671);
}

.dropdown-c{
  background-color: rgba(255, 255, 0, 0.637);
}

.dropdown-d{
  background-color: rgba(189, 37, 17, 0.582);
}

.dropdown-low{
  background-color: rgba(167, 123, 57, 0.616);
}

.dropdown-high{
  background-color: rgba(189, 37, 17, 0.582);
}

.dropdown-medium{
  background-color: rgba(168, 76, 204, 0.582);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #8fa8ac;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #8fa8ac15;
}
