.home {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background-image: url(../../../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-contact {
  position: absolute;
  font-family: "Capriola";
  outline: none;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background-color: #b9857e;
}

.contact-open {
  line-height: 4rem;
  width: 10rem;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  margin-right: 3rem;
  border-radius: 10px;
  bottom: 0;
  right: 0;
}

.btn-contact:hover {
  background-color: #b9857ea9;
}

.contact-container {
  z-index: 2;
  position: absolute;
  margin-bottom: 4rem;
  margin-right: 3rem;
  width: 400px;
  height: 300px;
  background-color: #d8d1d0;
  border-radius: 10px;
  bottom: 0;
  right: 0;
}

.contact-close {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  top: 0;
  right: 0;
}

.contact-header {
  position: absolute;
  border-radius: 10px 10px 0 0;
  height: 5rem;
  width: 100%;
  background-color: #b9857e;
}

.contact-list{position: relative;
  margin-top: 70px;
  text-align: left;
  font-size: 1.4rem;
}

.contact-avatar{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menu-options {
  display: flex;
}

.options {
  position: relative;
  margin: 3rem;
  width: 15rem;
  height: 15rem;
  border: 5px solid;
}

.avatar {
  position: relative;
  border-radius: 50%;
}

.goals {
  border-color: #b9857e;
  border-radius: 50% 50% 0 50%;
}

.plans {
  border-color: #8fa8ac;
  border-radius: 50% 50% 50% 0;
}

.interests {
  border-color: #8fa8ac;
  border-radius: 50% 0 50% 50%;
}

.about {
  border-color: #b9857e;
  border-radius: 0 50% 50% 50%;
}

.avatar-home {
  width: 20rem;
  height: 20rem;
}

.avatar-menu {
  width: 12rem;
  height: 12rem;
}

.image {
  width: 100%;
  border-radius: 50%;
}

.goals-image {
  width: 100%;
  border-radius: 50% 50% 0 50%;
}

.plans-image {
  width: 100%;
  border-radius: 50% 50% 50% 0;
}

.about-image {
  width: 100%;
  border-radius: 0 50% 50% 50%;
}

.interests-image {
  width: 100%;
  border-radius: 50% 0 50% 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.menu-overlay {
  background-color: #8fa8ac;
  border-radius: 50%;
}

.goals-overlay {
  background-color: #b9857e;
  border-radius: 50% 50% 0 50%;
}

.plans-overlay {
  background-color: #8fa8ac;
  border-radius: 50% 50% 50% 0;
}

.interests-overlay {
  background-color: #8fa8ac;
  border-radius: 50% 0 50% 50%;
}

.about-overlay {
  background-color: #b9857e;
  border-radius: 0 50% 50% 50%;
}

.options:hover .overlay {
  opacity: 1;
}

.avatar:hover .overlay {
  opacity: 1;
}

.text {
  border: none;
  outline: none;
  position: absolute;
  background: none;
  text-decoration: none;
  font-family: "Capriola";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-text {
  font-size: 3.6rem;
  color: #3e6774;
}

.menu-text:hover {
  color: #1e3b44;
}

.home-text {
  font-size: 2.8rem;
  color: #3e6774;
}

.home-text:hover {
  color: #1e3b44;
}

.goals-text {
  font-size: 28px;
  color: #7a4641;
}

.goals-text:hover {
  color: #4d302e;
}

.plans-text {
  font-size: 28px;
  color: #3e6774;
}

.plans-text:hover {
  color: #1e3b44;
}

.interests-text {
  font-size: 2.8rem;
  color: #3e6774;
}

.interests-text:hover {
  color: #1e3b44;
}

.about-text {
  font-size: 28px;
  color: #7a4641;
}

.about-text:hover {
  color: #4d302e;
}
