body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Capriola';
  font-size: 62.5%;
}

.main {
  margin-left: 20%;
  padding: 3% 8% 3% 3%;
  text-align: center;
}

.grid{
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  margin-bottom: 3%;
  border: 2px solid;
}

.title{
  font-style: italic;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
}

ul{
  list-style-type: none;
}

li{
  margin-bottom: 8px;
}

.checkbox-container{
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  user-select:none;
}

.checkbox-container input{
  height: 0;
  width: 0;
}

.checkmark{
  position: absolute;
  top:0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  background-color: #f0eceb;
}

.checkbox-container input:checked ~ .checkmark{
  background-color: #7c4f4a;
}

.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after{
  display: block;
}

.checkbox-container .checkmark:after{
  left: 30%;
  top:15%;
  width: 20%;
  height: 50%;
  border: solid white;
  border-width: 0 .3rem 0.3rem 0;
  transform: rotate(45deg);
}
